html, body{
    margin: 0;
    font-family: Georgia, serif;
}

*{
    box-sizing: border-box;
    font-family: Georgia, serif;
}

/* Navigation bar */
.navigationbar {
    overflow: hidden;
    background-color: #2E3FE8;
}

/* Style the navigation bar links */
.navigationbar a {
    float: left;
    display: block;
    color: #54FFDD;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.navigationbar a:hover {
    background-color: #93FFD4;
    color: black;
}

/* Style the content */
.content {
    background-color: #C1E5FF;
    padding: 10px;
    height: 530px;
}


/* Style the footer */
.footer {
    background-color: #918EFF;
    padding: 10px;
}
